@model MVC5_Practice.Models.Registration
@{
    // Layout = null;
}
@{ViewBag.Title = "Index";}

@section Header{
    <h2>Fill Registration Form Section Index</h2>
}

@using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        @{Html.RenderPartial("_Home", Model);}
    </div>
}